@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&display=swap');
.social{
    font-family: 'Lobster', cursive;
}
#Projects{
    font-family: 'Lobster', cursive;
}
.name{
    font-family: 'Oswald', sans-serif;
}
h5{
    font-family: 'Lobster', cursive;
}
li{
    font-family: 'Oswald', sans-serif;
}
.about{
    font-family: 'Lobster', cursive;
}
.resume{
    font-family: 'Oswald', sans-serif;
}
.contacts{
    font-family: 'Oswald', sans-serif;
}
.lbtn{
    font-family: 'Oswald', sans-serif;
}